<template name="mainMenu">
    <div class="link-list">
        <div class="menu-item">
            <i class="fa fa-home"></i> <a href="{{pathFor 'index.view'}}">index</a>
        </div>
        <div class="menu-item">
            <i class="fa fa-desktop"></i> <a href="{{pathFor 'slideshow.view'}}">Slideshow</a>
        </div>
        {{#if currentUser}}
            <div class="menu-item">
                <i class="fa fa-user"></i> <a href="#" class="js-logout">Logout</a>
            </div>
        {{else}}
            <div class="menu-item">
                <i class="fa fa-user"></i> <a href="{{pathFor 'login.view'}}">Login</a>
            </div>
        {{/if}}
        <a href="#" class="close-menu-button">
            <i class="fa fa-times"></i>
        </a>
    </div>
</template>