<template name="vslide9">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1 vslide-big-list"> <!-- centered, responsive one column, text align left -->
{{#markdown}}
# Przykładowe aplikacje

### Meteor zawiera sam w sobie kilka przykładowych aplikacji

- Todos, kompletna aplikacja typu TODO

```bash
$ meteor create --example todos
```

- Local Market, przykładowa aplikacja mobilna

```bash
$ meteor create --example localmarket
```

{{/markdown}}
            </div>
        </div>
    </div>
</template>
