<template name="vslide11">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
          <div class="vslide-col-1 vslide-big-list">
{{#markdown}}
# Duża społeczność

- Ponad 120 miast organizuje dziś Meteor Day
- Ponad 2000 paczek dostępnych na "Atmosferze"
- Ponad 20k gwiazdek na GitHubie co plasuje Meteora na 11 miejscu

{{/markdown}}
        </div>
      </div>
    </div>
</template>
