<template name="vslide2">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1 vslide-big-list">
{{#markdown}}
# Plan

- Czym jest Meteor
- Pokaz możliwości
- Przykładowe aplikacje
{{/markdown}}
            </div>
        </div>
    </div>
</template>
