<template name="vslide10">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
{{#markdown}}
# Produkcyjne wdrożenia

![Meteor Startups](/images/meteor-startups.jpg)
{{/markdown}}
            </div>
        </div>
    </div>
</template>
