<template name="vslide1">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
{{#markdown}}
# Worldwide Meteor Day

### Wprowadzenie do Meteora

> 6 listopada 2014, Wrocław
{{/markdown}}
        </div>
    </div>
</template>
