<template name="vslide4">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1 vslide-big-list"> <!-- centered, responsive one column, text align left -->
{{#markdown}}
# Nowoczesne aplikacje

![Modern Apps](/images/modern-apps.jpg)

- Celem Meteora jest umożliwienie pisania nowoczesnych aplikacji bez konieczności posiadania olbrzymich nakładów finansowych
- Dzięki temu można skupić się unikalnych cechach swojego produktu zamiast użerać się z kodem i warstwą komunikacji
{{/markdown}}
            </div>
        </div>
    </div>
</template>
